<app-services-header></app-services-header>

<div class="container py-5">
    <h1 class="text-center" style="color: black; font-weight: 900;">Защита на потребителите</h1>
    <p>Кантората предлага правна защита на потребители, които са засегнати от некачествени стоки, подвеждаща реклама,
        нелоялни търговски практики или неправомерни договорни клаузи. Нашата цел е да гарантираме, че вашите права са
        спазени и да ви помогнем при спорове с търговци, финансови институции и доставчици на услуги от една страта и от
        друга страна подпомагане на бизнеса да спазва разпоредбите на законодателството, свързано с тяхната търговска
        дейност, като имам дългогодишен опит като правен консултант на Комисия за защита на потребителите.</p>
    <ul>
        <li>Правна помощ и защита на клиенти, изтеглили потребителски или ипотечни кредити, бързи кредити или заеми от
            банки или от други финансови или небанкови институции, включително представителство за доброволно и
            извънсъдебно уреждане на възникнал спор, както и процесуално представителство пред всички държавни съдилища;
        </li>
        <li>Правни консултации и съдействие при извънсъдебно и съдебно решаване на потребителски спорове между
            потребители и търговци;</li>
        <li>Иницииране на производства пред Комисията за защита на потребителите (КЗП) чрез подаване на жалби или
            сигнали за нелоялни и недобросъвестни търговски практики и др.;</li>
        <li>Съдействие и правна защита при рекламация на стоки, закупени от онлайн търговци и търговски платформи,
            включително пред КЗП и съда;</li>
        <li>Съдействие и правна защита при на бизнеса при издаването от контролните органи на актове за
            админисктративни нарушения, Заповеди за налагане на принудителни административни мерки, Наказателни
            постановления. Оспорването им пред административен орган и по съдебен ред.</li>
    </ul>
</div>