<app-services-header></app-services-header>

<div class="container py-5">
    <h1 class="text-center" style="color: black; font-weight: 900;">Наказателно право</h1>
    <p>Кантората предлага професионална правна защита и съдействие в областта на наказателното право. Обвинението в
        извършване на престъпление е едно от най-сериозните изпитания, пред които човек може да се изправи, тъй като
        последиците за личния, семейния и професионалния живот могат да бъдат изключително тежки. Затова е от решаващо
        значение да потърсите опитен адвокат още в самото начало на досъдебното производство, когато се събират
        доказателства и се формира обвинението. Осигуряваме цялостна правна защита при разпити, задържане и други
        процесуално-следствени действия, като следи стриктно за спазването на всички законови и процесуални права на
        клиента;</p>
    <p>Често срещан въпрос, който възниква в наказателния процес, е свързан с определянето на т.нар. “мярка за
        неотклонение”. Независимо дали става дума за задържане под стража, домашен арест, парична гаранция или подписка,
        ние подготвяме необходимите искания и жалби, за да защитим правото на свобода на клиентите си и да предотвратим
        последиците от незаконосъобразни актове на разследващите и на съдебните органи. Обръщаме специално внимание на
        всеки конкретен казус, тъй като се изисква индивидуален подход с оглед събраните доказателства в досъдебното и
        съдебно производство, разработваме стратегия, съобразена с особеностите на конкретния случай, и работим с пълна
        конфиденциалност и необходимия професионализъм. Ако имате нужда от адвокат по наказателни дела в София или в
        страната, не отлагайте консултацията. Навременната реакция и компетентната защита могат да се окажат решаващи за
        Вашето бъдеще и за защитата на Вашите права при наказателно преследване;</p>
    <p>Кантора защитава не само обвиняеми и подсъдими, но и пострадали от престъпления. В тези случаи съдействаме за
        предявяване на граждански искове за получаване на обезщетение, участие в процеса като частни обвинители и пълна
        защита на техните права пред разследващите органи и пред съда, както и извънсъдно решаване на казусите, чрез
        преговори в интерес на клиентите ни.</p>
</div>