<app-services-header></app-services-header>

<div class="container py-5">
    <h1 class="text-center" style="color: black; font-weight: 900;">Трудово право</h1>
    <p class="services-paragraph">Кантората предоставя правни консултации по всякакви въпроси, свързани с българското и европейското трудово
        законодателство.</p>
    <ul>
        <li>Законосъобразното възникване на трудовите правоотношения (сключване на трудов договор), тяхното развитие,
            изменение и прекратяване, както и при възникване на трудови спорове;</li>
        <li>Изготвяне на съобразени с действащата нормативна рамка и правила трудови договори, длъжностни
            характеристики, правила за вътрешния трудов ред и дисциплина, правилник за организацията на работната
            заплата, на всички видове заповеди по КТ, протоколи, отчети и др.;</li>
        <li>Образуване и водене на съдебни дела при възникнали трудови спорове и нарушения на трудовото
            законодателство и др.;</li>
        <li>Законосъобразното възникване на слубежните правоотношения (заповед за назначаване), тяхното развитие,
            изменение и прекратяване, както и при възникване на спорове;</li>
        <li>Изготвяне на съобразени с действащата нормативна рамка и правила заповеди за начначаване, длъжностни
            характеристики на държавни служители, правила за вътрешния трудов ред и дисциплина, правилник за
            организацията на работната заплата, на всички видове заповеди по законодателството, свързано с държавния
            служител, провеждане на конкурси, подбор и участие в комисии;</li>
        <li>Образуване и водене на съдебни дела при възникнали спорове и нарушения, свързани със законодателство,
            уреждащо статута на държавния служител;</li>
        <li>Представителство пред Агенция по вписванията, Търговски реегистър във връзка с регистрация, промени в
            обстоятелства, ликидация и заличаване на търговски дружества. Вписана съм в регистъра на ликвидаторите към
            Агенция по вписванията.</li>
    </ul>
</div>