<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title text-center" data-aos="fade-up">
        <h2>Контакти</h2>
        <p class="text-center">Свържете се с мен</p>
        <p class="text-center">За да се свържете с мен за насрочване на дата и час за консултация по Ваш правен проблем
            използвайте посочените координати за контакт.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4 g-lg-5">
            <div class="col-lg-5">
                <div class="info-box" data-aos="fade-up" data-aos-delay="200">
                    <h3>Информация за контакт</h3>
                    <p>При нужда от правна помощ може да се свържете с мен на посочените контакти</p>

                    <div class="info-item" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <i class="fa-solid fa-location-dot text-primary"></i>
                        </div>
                        <div class="content">
                            <h4>Адрес</h4>
                            <p>София, бул. "Александър</p>
                            <p>Стамболийски" № 239</p>
                        </div>
                    </div>

                    <div class="info-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                            <i class="fa-solid fa-phone text-primary"></i>
                        </div>
                        <div class="content">
                            <h4>Мобилен телефон</h4>
                            <p>+359 88 969 302</p>
                        </div>
                    </div>

                    <div class="info-item" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <i class="fa-solid fa-envelope text-primary"></i>
                        </div>
                        <div class="content">
                            <h4>Имейл</h4>
                            <p>ivaniandreeva1&#64;gmail.com</p>
                            <p>ivanka.andreeva&#64;abv.bg</p>
                        </div>
                    </div>

                    <div class="info-item" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <i class="fa-solid fa-business-time text-primary"></i>
                        </div>

                        <div class="content">
                            <h4>Работно време:</h4>
                            <p>понеделник-петък</p>
                            <p>08:00-18:00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">

                <div class="bg-image" data-aos="fade-up" data-aos-delay="300">
                    <img src="img/feature.jpg" class="img-thumbnail" alt="Wild Landscape" />
                    <!--
                            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                                data-aos-delay="200">
                                <div class="row gy-4">
        
                                    <div class="col-md-6">
                                        <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                    </div>
        
                                    <div class="col-md-6 ">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email"
                                            required="">
                                    </div>
        
                                    <div class="col-12">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject"
                                            required="">
                                    </div>
        
                                    <div class="col-12">
                                        <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                            required=""></textarea>
                                    </div>
        
                                    <div class="col-12 text-center">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
        
                                        <button type="submit" class="btn">Send Message</button>
                                    </div>
        
                                </div>
                            </form>
                        -->
                </div>
            </div>

        </div>

    </div>

</section><!-- /Contact Section -->