<app-services-header></app-services-header>

<div class="container py-5">
    <h1 class="text-center" style="color: black; font-weight: 900;">Административно право</h1>
    <p>Административното право е основен отрасъл на правото, който урежда и регулира отношенията между гражданите и
        юридическите лица, от една страна и държавните и общински органи, от друга, по повод осъществяването на
        управлението на държавата и местното самоуправление.</p>
    <p>Доста често се случва държавен или общински орган да откаже да издаде поискан от гражданите или от бизнеса
        документ (удостоверения, скици, разрешителни, лицензии и др.) или да бездейства, като в определените от закона
        срокове не издава съответния необходим документ. При такива случаи, можете да се обърнете към нашата кантора за
        консултация и съдействие, за да може интересите ви да бъдат защитени ефективно и да получите целения от вас
        краен резултат.</p>
    <p>Доста често се случва държавен или общински орган да откаже да издаде поискан от гражданите или от бизнеса
        документ (удостоверения, скици, разрешителни, лицензии и др.) или да бездейства, като в определените от закона
        срокове не издава съответния необходим документ. При такива случаи, можете да се обърнете към нашата кантора за
        консултация и съдействие, за да може интересите ви да бъдат защитени ефективно и да получите целения от вас
        краен резултат.</p>
    <ul>
        <li>Оспорване/обжалване по административен и/или по съдебен ред на незаконосъобразните административни актове
            на държавните и общински органи, включително на постановени откази или при бездействието на органите за
            издаването им (т.нар. „мълчаливи откази“);</li>
        <li>Съдействие и правна помощ на всеки етап от всяка една от многобройните административни процедури;</li>
        <li>Цялостна комуникация и представителство пред държавни и общински органи;</li>
        <li>Правна помощ и съдействие на чужденци в процедури за придобиване на българско гражданство, за придобиване
            на постоянен или временен статут на пребиваване, за започване на работа в България и др.;</li>
        <li>Подготовка на документи, включително на цялостни оферти за участие в обществени поръчки, съдействие при
            подготовката на необходимите документи за сключване на договор за изпълнение на поръчката, консултации и
            съдействие при важни моменти и проблеми по време действието и изпълнението на договора за изпълнение на
            обществената поръчка. Вписана съм като външен експерт по обществени поръчки към Атенция за обществени
            поръчки. Имам богат опит и в процесуалното представителство по Закон за обществените поръчки през Комисия за
            защита на конкуренцията и Върховен административен съд;</li>
        <li>Процесуално представителство пред всички съдебни инстанции при воденето на дела за вреди, причинени от
            държавни или общински органи по Закона за отговорността на държавата и общините за вреди (ЗОДОВ) и много
            други;</li>
        <li>Оспорване на Актове за установяване на административни нарушения, заповеди за налагане на
            принудителна административна мярка и наказателни постановления.</li>
    </ul>
</div>