.carousel {
    margin: 50px 0 auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 60s infinite linear;
    padding-right: 1em;
}

.card {
    height: 30em;
}

img {
    height: 30em;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}