<div class="carousel">
  <div class="group">
    <div class="card"><img src="img/u-1.png" alt=""></div>
    <div class="card"><img src="img/u-2.png" alt=""></div>
    <div class="card"><img src="img/u-3.png" alt=""></div>
    <div class="card"><img src="img/u-4.png" alt=""></div>
    <div class="card"><img src="img/u-5.png" alt=""></div>
    <div class="card"><img src="img/u-6.png" alt=""></div>
    <div class="card"><img src="img/u-7.png" alt=""></div>
    <div class="card"><img src="img/u-8.png" alt=""></div>
    <div class="card"><img src="img/u-9.png" alt=""></div>
    <div class="card"><img src="img/u-10.png" alt=""></div>
    <div class="card"><img src="img/u-11.png" alt=""></div>
    <div class="card"><img src="img/u-12.png" alt=""></div>
    <div class="card"><img src="img/u-13.png" alt=""></div>
    <div class="card"><img src="img/u-14.png" alt=""></div>
    <div class="card"><img src="img/u-15.png" alt=""></div>
    <div class="card"><img src="img/u-16.png" alt=""></div>
    <div class="card"><img src="img/u-17.png" alt=""></div>
    <div class="card"><img src="img/u-18.png" alt=""></div>
    <div class="card"><img src="img/u-19.png" alt=""></div>
    <div class="card"><img src="img/u-20.png" alt=""></div>
    <div class="card"><img src="img/u-21.png" alt=""></div>
    <div class="card"><img src="img/u-22.png" alt=""></div>
    <div class="card"><img src="img/u-23.png" alt=""></div>
    <div class="card"><img src="img/u-24.png" alt=""></div>
    <div class="card"><img src="img/u-25.png" alt=""></div>
    <div class="card"><img src="img/u-pat.png" alt=""></div>
    <div class="card"><img src="img/prep-mgu.png" alt=""></div>
    <div class="card"><img src="img/prep-pu.png" alt=""></div>
  </div>
  <div aria-hidden class="group">
    <div class="card"><img src="img/u-1.png" alt=""></div>
    <div class="card"><img src="img/u-2.png" alt=""></div>
    <div class="card"><img src="img/u-3.png" alt=""></div>
    <div class="card"><img src="img/u-4.png" alt=""></div>
    <div class="card"><img src="img/u-5.png" alt=""></div>
    <div class="card"><img src="img/u-6.png" alt=""></div>
    <div class="card"><img src="img/u-7.png" alt=""></div>
    <div class="card"><img src="img/u-8.png" alt=""></div>
    <div class="card"><img src="img/u-9.png" alt=""></div>
    <div class="card"><img src="img/u-10.png" alt=""></div>
    <div class="card"><img src="img/u-11.png" alt=""></div>
    <div class="card"><img src="img/u-12.png" alt=""></div>
    <div class="card"><img src="img/u-13.png" alt=""></div>
    <div class="card"><img src="img/u-14.png" alt=""></div>
    <div class="card"><img src="img/u-15.png" alt=""></div>
    <div class="card"><img src="img/u-16.png" alt=""></div>
    <div class="card"><img src="img/u-17.png" alt=""></div>
    <div class="card"><img src="img/u-18.png" alt=""></div>
    <div class="card"><img src="img/u-19.png" alt=""></div>
    <div class="card"><img src="img/u-20.png" alt=""></div>
    <div class="card"><img src="img/u-21.png" alt=""></div>
    <div class="card"><img src="img/u-22.png" alt=""></div>
    <div class="card"><img src="img/u-23.png" alt=""></div>
    <div class="card"><img src="img/u-24.png" alt=""></div>
    <div class="card"><img src="img/u-25.png" alt=""></div>
    <div class="card"><img src="img/u-pat.png" alt=""></div>
    <div class="card"><img src="img/prep-mgu.png" alt=""></div>
    <div class="card"><img src="img/prep-pu" alt=""></div>
  </div>
</div>
