<section id="resume" class="resume section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2 class="text-center">Автобиография</h2>
		<p class="text-center">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit. Sed ut
			perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam
		</p>
	</div><!-- End Section Title -->

	<div class="container" data-aos="fade-up" data-aos-delay="100">

		<div class="row">
			<div class="col-lg-6">

				<div class="resume-item" data-aos="fade-up">
					<img src="img/team-1.jpg" class="rounded mx-auto d-block" alt="picture">
				</div>

				<!-- Education Section -->
				<div class="resume-item" data-aos="fade-up">
					<h3 class="resume-title">Образование</h3>

					<div class="resume-content">
						<article class="education-item">
							<h4>Магистърска степен по право</h4>
							<h5>1994 - 1999</h5>
							<p class="institution"><em>Югозападен университет "Неофит Рилски", Благоевград</em></p>
							<p>Изучавала Банково дело, Римско право, История на българската държава и право, Гражданско
								право и процес, Наказателно право и процес и други.</p>
						</article>

						<article class="education-item">
							<h4>Средно образование</h4>
							<h5>1994</h5>
							<p class="institution"><em>СОУ "Христо Ботев", Девин</em></p>
							<p>Засилено изучаване на български език, история и английски език.</p>
						</article>
					</div>
				</div><!-- End Education Section -->

				<!-- Professional Skills Section -->
				<div class="resume-item skills-animation" data-aos="fade-up">
					<h3 class="resume-title">Професионални умения</h3>

					<div class="resume-content">
						<div class="skill-item">
							<h4>Обществени поръчки</h4>
							<div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
								aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar text-bg-info" style="width: 90%">90%</div>
							</div>
						</div>

						<div class="skill-item">
							<h4>Наказателно право</h4>
							<div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
								aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar text-bg-info" style="width: 80%">80%</div>
							</div>
						</div>

						<div class="skill-item">
							<h4>Административно право</h4>
							<div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
								aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar text-bg-info" style="width: 80%">80%</div>
							</div>
						</div>

						<div class="skill-item">
							<h4>Защита на потребителите</h4>
							<div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
								aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar text-bg-info" style="width: 70%">70%</div>
							</div>
						</div>

						<div class="skill-item">
							<h4>Търговско право</h4>
							<div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
								aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar text-bg-info" style="width: 60%">60%</div>
							</div>
						</div>
					</div>
				</div><!-- End Professional Skills Section -->
			</div>

			<div class="col-lg-6">
				<!-- Experience Section -->
				<div class="resume-item" data-aos="fade-up" data-aos-delay="100">
					<h3 class="resume-title">Професионален опит</h3>

					<div class="resume-content">
						<article class="experience-item">
							<h4>Юридически съветник</h4>
							<h5>2001 - 2018</h5>
							<p class="company"><em>СБАЛО „Проф. Бойчо Бойчев“ ЕАД, София</em></p>
							<ul>
								<li>Правно обслужване във връзка с дейността на СБАЛО „Проф. Бойчо Бойчев“ ЕАД, гр.
									София, Бул. „Никола Петков“ № 56 и изготвяне на документации за възлагане на
									обществени поръчки, търгове и участие в комисии по ЗОП и ППЗОП.</li>
							</ul>
						</article>

						<article class="experience-item">
							<h4>Адвокат</h4>
							<h5>2003 - до настоящия момент</h5>
							<p class="company"><em>Вписана в Софийската адвокатска колегия</em></p>
							<ul>
								<li>Процесуално представителство и правна защита на клиенти по дела по наказателни
									производства, административно-наказателни производства, обществени поръчки, защита
									на потребителите и други. Изготвяне на документации, подпомагане в подготовка на
									документи по ЗОП за участници, участие в комисии по ЗОП. Вписана в регистъра за
									външни експерти към Агенция за обществени поръчки, Агенция по вписванията, патентен
									представител.</li>
								<li>От 2012 г. патентен представител вписана в Патентно ведомство на Република България.
								</li>
								<li>От 2014 г. вписана в регистъра за ликвидатори към Агенция по вписванията</li>
								<li>От 2016 г. Вписана в регистъра за външни експерти към Регистър за обществени поръчки
									към Агенцията за обществени поръчки</li>
							</ul>
						</article>

						<article class="experience-item">
							<h4></h4>
							<h5>2006 - до настоящия момент</h5>
							<p class="company"><em></em></p>
							<ul>
								<li>Участие на различни позиции /председател, зам. председател, секретар, член/ на
									районни избирателни комисии за избор на членове на ЕП, народни представители,
									общински избирателни комисии на местни избори, избирателна комисия в избори по
									Закона за адвокатурата.</li>
								<li>Член на Съвещателен борд на Пловдивския университет „Паисий Хилендарски“ по проект
									„Стратегическа
									научноизследователска и иновационна програма за развитие“ BG-RRP-2.004-0001-C01,
									финансиран от Националния план за възстановяване и устойчивост по Компонент
									„Иновативна България“, Инвестиция 1 „Програма за ускоряване на икономическото
									възстановяване и трансформация чрез наука и иновации“ и Стълб 2 „Създаване на мрежа
									от изследователски висши училища в България“.</li>
								<li>Правен консултант на общини и висши училища на територията на Република България и
									процесуално представителство по дела по ЗОП и по ЗУЗЕСИФ. Участие в комисии по ЗОП
									на общини, висши училища и научни организации. Участие в комисии и работни групи към
									Столична община, Дирекция „Транспорт“, Министерство на финансите, Министерство на
									образованието и науката, Агенция по вписванията към министерство на правосъдието,
									общини и други държавни структури.</li>
							</ul>
						</article>

						<article class="experience-item">
							<h4>Юридически съветник</h4>
							<h5>2012 - 2024</h5>
							<p class="company"><em>Комисия за защита на потребителите</em></p>
							<ul>
								<li>Правно обслужване и процесуално представителство на Комисия за защита на
									потребителите.</li>
							</ul>
						</article>

						<article class="experience-item">
							<h4>Юридически съветник</h4>
							<h5>2013 - до настоящия момент</h5>
							<p class="company"><em>Фонд "Научни изследвания" към Министерството на образованието и
									науката</em></p>
							<ul>
								<li>Правно обслужване във връзка с дейността на Фонд „Научни изследвания“ – Министерство
									на образованието и науката. Финансиране на научни изследвания на конкурсен принцип,
									чрез оценяване и класиране, съгласно Закон за насърчаване на научните изследвания и
									иновациите и Правилник на Фонд „Научни изследвания“.</li>
								<li>Правен експерт по международни програми ERA NET – финансиране на научни изследвания
									на конкурсен принцип в съответствие с изискванията на ЕК по всяка една от
									програмите. В момента във Фонд „Научни изследвания“ се финансират научни изследвания
									в над 10 европейски международни програми ERA NET.</li>
								<li>Обучение във връзка с управление и координация на проекти по Плана за възстановяване
									и устойчивост през 01.2023 год. и обучение във връзка с режима на държавни помощи от
									Министерството на финансите.</li>
							</ul>
						</article>

						<article class="experience-item">
							<h4>Председател на съвет на настоятелите във висше училище</h4>
							<h5>2021 - 2024</h5>
							<p class="company"><em>Висше строително училище "Любен Каравелов", София</em></p>
							<ul>
								<li>Председател на Съвета на настоятелите на Висше строително училище „Любен Каравелов“
									- София.</li>
							</ul>
						</article>
					</div>
				</div><!-- End Experience Section -->
			</div>
		</div>

	</div>

</section>