<app-services-header></app-services-header>

<div class="container py-5">
    <h1 class="text-center" style="color: black; font-weight: 900;">Семейно право</h1>
    <p class="services-paragraph">Кантората предлага професионална правна помощ в сферата на семейното право, предоставяйки подкрепа и защита в
        различни аспекти на семейните отношения. Ние се грижим за вашето спокойствие и сигурност в трудни моменти, като
        осигуряваме ефективни решения на всякакви семейни спорове, съобразени с вашите интереси.</p>
    <ul>
        <li>Правна защита и процесуално представителство по дела за развод по взаимно съгласие и по дела за
            разтрогване на брака по исков ред, включително в производства по определяне на привременни мерки по
            отношение на децата от брака при висящ исков процес за разтрогване на брака;</li>
        <li>Подготовка на предбрачни и брачни договори за уговаряне на режим на имуществени отношения между съпрузите
            и по отношение на дължима издръжка на децата от брака;</li>
        <li>Правна защита и съдействие при процедури по осиновяване, припознаване на дете, при искове за издръжка,
            оспорване на произход, оспорване на бащинство и др.</li>
    </ul>
</div>