<app-services-header></app-services-header>

<div class="container py-5">
    <h1 class="text-center" style="color: black; font-weight: 900;">Право на интелектуална собственост</h1>
    <p>Правото на интелектуална собственост (ПИС) е система от правни защити за нематериални творения на човешкия ум -
        изобретения, марки, дизайни, произведения на изкуството и литературата, които дават на създателите изключителни
        права върху тяхното използване за определен период, като ги разграничават в две основни области: индустриална
        собственост (патенти, търговски марки, дизайни) и авторско право (книги, музика, филми), за да насърчават
        творчеството и иновациите, предоставяйки монопол върху търговската експлоатация;</p>
    <p>Вписана съм като представител по индустриална собственост към Патенто ведовство под № 456 в регистъра им, като
        извършвам анализи, съдействие по регистрация на патенти, търговски марки, дизайни, изобретения, защита на
        правата на интелектуална собственост в производство през Патентно ведомство, митници, съда. Не се колебайте да
        се свържите с мен при въпроси, свързани с интелектуалната собственост;</p>
    <p>Финансовите корекции, налагани по Закона за управление на средствата от европейските фондове при споделено
        управление (ЗУСЕФСУ) – бивш Закон за управление на средствата от Европейските структурни и инвестиционни фондове
        (ЗУСЕСИФ), могат да доведат до значителни финансови загуби за бенефициентите на европейско финансиране. Нашата
        адвокатска кантора предоставя правна помощ при оспорване на корекции, обжалване на административни актове и
        защита на интересите на бизнеса и публичните институции. Доверете се на експертно съдействие за успешно
        управление на средствата от Европейския съюз;</p>

    <ul>
        <li>Консултации по ЗУСЕФСУ/ЗУСЕСИФ – правна помощ при управление на европейски проекти и предотвратяване на
            нарушения, които могат да доведат до финансови корекции;</li>
        <li>Анализ и оценка на наложени финансови корекции по сключени Административни договори за безвъзмездна
            финансова помощ (АДБФП) – детайлен правен преглед на санкциите и основанията за тяхното налагане;</li>
        <li>Обжалване на финансови корекции – изготвяне на възражения и жалби срещу актове на управляващите органи,
            свързани с наложени финансови санкции;</li>
        <li>Процесуално представителство – защита пред съответните административни органи, съдебни инстанции и
            европейски институции при спорове, свързани с усвояването на европейски средства;</li>
        <li>Предотвратяване на санкции – правна помощ за правилното изпълнение на обществените поръчки и договорите по
            европейските проекти с цел минимизиране на риска от финансови корекции;</li>
        <li>Вписана съм в регистъра с одобрени външни оценители в процедурите за предоставяне на безмъзмездна финансова
            помощ, чрез централизиан конкурс,проведен от Министерски съвет.</li>
    </ul>
</div>