<app-services-header></app-services-header>

<div class="container py-5">
    <h1 class="text-center" style="color: black; font-weight: 900;">Търговско право</h1>
    <p class="services-paragraph">Търговското право е фундаментален правен институт, който урежда отношенията между търговци по смисъла на
        Търговския закон по
        повод осъществяваната от тях дейност посредством сключването на търговски сделки и договори. С оглед развитието
        на тези отношения в условията на непрекъсната динамика на пазара, много често се случва сключени търговски
        договори да не бъдат спазвани от някоя, а понякога и от всички страни, което води след себе си до некоректно и
        неблагоприятно развитие на тези отношения.</p>
    <p class="services-paragraph">При такива ситуации е от съществено значение търговецът, чиито договорни права са нарушени, незабавно да се
        обърне за съвет и съдействие към адвокат – специалист в областта, за да получи адекватна, навременна и ефективна
        помощ по съответния търговски казус. Това винаги води до минимални загуби или вреди, които биха били понесени от
        търговеца в условия на нарушен договор.</p>
    <p class="services-paragraph">Услугите, които нашата кантора може да ви предложи при такива ситуации, са:</p>
    <ul>
        <li>Преглед и анализ на съществуващи или първоначално съставяне на всякакви видове търговски договори,
            договорни приложения и документи, пълномощни и др.;</li>
        <li>Доброволно уреждане на търговски спорове – консултации, съдействие и представителство при уговаряне на
            взаимно изгодни условия за сключване на извънсъдебни спогодби и споразумения, на споразумения за отсрочване
            или разсрочване на дължими договорни плащания или установени по размер вземания;</li>
        <li>Процесуално представителство пред съдебните инстанции по търговски спорове, касаещи договорни
            неизпълнения.</li>
    </ul>
</div>